{% extends 'base.html.twig' %}

{% block title %}Météo Madagascar{% endblock %}

{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <h1><a href="{{ path('app_weather') }}">Météo Madagascar</a></h1>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <div class="mb-1 d-inline-block">
                                <label class="form-label" for="selectCity">Choisir une ville</label>
                                <select class="form-select select-city" id="selectCity">
                                    {% for city in cities %}
                                        {% set selected = '' %}
                                        {% if city == currentCity %} {% set selected = 'selected' %} {% endif %}
                                        <option value="{{ city.id }}" data-city-link="{{ path('app_weather', {'id': city.id}) }}" {{ selected }}>{{ city.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container">
        <div class="row">
            <h2 class="content-header-title float-start mb-0">{{ currentCity.label }}</h2>
            <h4>Météo aujourd'hui</h4>
            <section class="col-lg-6 meteo">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-baseline h-100">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="card shadow-0 border">
                                <div class="card-body p-4">
                                    <h4 class="mb-1 sfw-normal">{{ currentCity.label }}, Madagascar</h4>
                                    <h2 class="fw-bolder align-items-center">{{ weatherData.temp|number_format(2) }}°C</h2>
                                    <p class="mb-2">Température ressentie: <strong>{{ weatherData.feelsLike }}°C</strong></p>
                                    <p class="mb-2">Pression atmosphérique: <strong>{{ weatherData.pressure }} hPa</strong></p>
                                    <p class="mb-2">Humidité: <strong>{{ weatherData.humidity }}%</strong></p>
                                    <p class="mb-2">Direction du vent: <strong>{{ weatherData.windDirection }}°</strong></p>
                                    <p class="mb-2">Vitesse du vent: <strong>{{ weatherData.windSpeed }} m/s</strong></p>
                                    {% if weatherData.rain %}
                                        <p class="mb-2">Précipitation: <strong>{{ weatherData.rainQuantity }} mm</strong></p>
                                    {% endif %}
                                    <div class="d-flex flex-row">
                                        <h4>{{ weatherData.description|capitalize }} </h4>
                                    </div>
                                    <span class="weather-icon"><i class="fas fa-{{ weatherIcon}} fa-9x" style="color: #4d5154;"></i></span>
                                </div>
                                <div class="card-footer p-1 border-0">
                                        <h3 class="fw-bolder hour-display">{{ weatherData.time|date('H:i') }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-lg-6">
                <div class="card border-0">
                    <div class="card-body">
                        <div id="carousel" class="slides">
                            {% set cityPictures = currentCity.pictures %}
                            {% for picture in cityPictures %}
                                <div>
                                    <img src="{{ asset('assets/img/'~picture) }}" alt="{{ 'image '~ currentCity.label }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="row historique">
            <h2>Historique de la météo</h2>

            <table class="table table-borderless table-striped overflow-scroll">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Température</th>
                    <th>Pression atmosphérique</th>
                    <th>Humidité</th>
                    <th>Vitesse du vent</th>
                    <th>Conditions météorologiques</th>
                </tr>
                </thead>
                <tbody>
                {% if histories %}
                    {% for history in histories %}
                        <tr>
                            <td>{{ history.date|date('d-m-Y') }}</td>
                            <td>{{ history.time|date('H:i') }}</td>
                            <td>{{ history.temp }}</td>
                            <td>{{ history.pressure }}</td>
                            <td>{{ history.humidity }}</td>
                            <td>{{ history.windSpeed }}</td>
                            <td>{{ history.description }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </section>
    </main>

    <footer>&copy; 2023</footer>
{% endblock %}
